table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-style: #2695A6;
    
}

th{
    font-size: 800;
    background-color: antiquewhite;
    color: mediumaquamarine;
    
}


#menu-bar{
    width: 50%;
    height: 25px;
    padding-top: 15px;

}

#menu-bar a{
    color: aquamarine;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
}